body {
    background-color:rgb(66, 66, 66);
}

h1 {
    color: beige;
}

#activities {
    background-color: white;
    text-align: center;
    height: 50px;
    color: black;
}

.mode {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

.mode:active {
    color: white;
    background: black;
}

button:hover {
    color: white;
    background: black;
}

.selected {
    color: white;
    background: black;
}

.text {
    display:block;
    float:left;
    background-color:rgb(155, 155, 155);
    color: beige;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    /*border: solid 10px rgb(163, 163, 163) ;*/
}

.map {
    display:block;
    float:left;
    background-color:rgb(191,191,191);
    border-radius: 0.5em;
}