body {
    background-color:rgb(66, 66, 66);
}

h1 {
    color: beige;
}

#activitiesContainer {
    width: 98vw;
    height: 10vh;
}

.piechart {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg, 
        orange 0);
}

#activitiesContainer ::-webkit-scrollbar {
    width: 1px;
  }

/* width */
#activitiesContainer ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
/* Track */
#activitiesContainer ::-webkit-scrollbar-track {
  border-radius: 10px;
}
   
/* Handle */
#activitiesContainer ::-webkit-scrollbar-thumb {
  background: rgb(126, 78, 78); 
  border-radius: 10px;
}
  
/* Handle on hover */
#activitiesContainer ::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 40, 45); 
}

.mode {
    color: black;
}

.mode:active :not(.searched) {
    color: white;
    background: black;
}

button:hover {
    color: white;
    background: black;
}

.selected {
    color: white;
    background: black;
}

.not_searched {
    display: none;
}

.mode {
    border: bold 1px black;
    text-transform: uppercase;
    font-weight: 700;
    /*color: black;*/
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

#activities {
    background-color: white;
    text-align: center;
    color: black;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.text {
    display: inline-block;
    background-color:rgb(155, 155, 155);
    position: absolute;
    top : 0;
    left : 0;
    color: beige;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}

.activityName {
    position: absolute;
    background-color:rgb(155, 155, 155);
    color: beige;
    top: 0;
    left: 0;
    margin: 1em;
    padding: 1em;
}

.solarOrbit {
    background-color:rgb(191,191,191);
    border-radius: 0.5em;
}

.map {
    display: inline-block;
    background-color:rgb(191,191,191);
    border-radius: 0.5em;
}

.map::after {
    clear: both;
}